# Auth0
AUTH0_DOMAIN=your-tenant.auth0.com
AUTH0_CLIENT_ID=your-auth0-client-id
AUTH0_CLIENT_SECRET=your-auth0-client-secret
APP_BASE_URL=http://localhost:3000
AUTH0_SECRET=your-auth0-secret

# App URLs
PY_BACKEND_URL=http://localhost:8000
JWT_SECRET=your-jwt-secret
